[submodule "libretrodroid/src/main/cpp/rcheevos"]
	path = libretrodroid/src/main/cpp/rcheevos
	url = https://github.com/RetroAchievements/rcheevos.git
[submodule "libchdr/src/main/cpp/libchdr"]
	path = libchdr/src/main/cpp/libchdr
	url = https://github.com/rtissera/libchdr.git
